<ion-header>
  <ion-toolbar>
    <div class="container-image">
        <div class="logo">
          <img src="../assets/images/logo-readleadsucced.png" />
        </div>
        <div class="shopping">
          <img src="../assets/images/Icon-shopping.png" />
        </div>
        
  </div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div class="auteurTitre">
      <h4>Auteur</h4> 
      <h2>Titre livre</h2>
      <hr class="solid">
    </div>  
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
              <ion-col>
                <div class="interCol">
                  <img src="../assets/images/imgLivreTest.png" />
                  <div class="vl"></div>
                </div>
              </ion-col>
            <ion-col class="colDroite">
              <ion-row>
                <ion-label>Prix : 20 E</ion-label>
              </ion-row>
              <ion-row>
                <ion-label>Stock</ion-label>
              </ion-row>
              <ion-row class="Quanti">
              <ion-item>
                <ion-label>Quantité</ion-label>
                <ion-select value="brown" okText="Valider" cancelText="Retour">
                  <ion-select-option value="brown">1</ion-select-option>
                  <ion-select-option value="blonde">2</ion-select-option>
                  <ion-select-option value="black">3</ion-select-option>
                  <ion-select-option value="red">4</ion-select-option>
                </ion-select>
              </ion-item>
              </ion-row>
                <div class="container-image">
                  <div class="enregistrer">
                      <ion-button size="small">Ajouter au panier </ion-button>
                  </div>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>
    <ion-card class="description">
      <ion-card-header class="descriptionHeader">
        <h5>Description</h5>
        <hr class="solidDescription">
      </ion-card-header>
      <ion-card-content>
        <p>Blabla Blabla Blabla Blabla</p>
        <p>Blabla Blabla Blabla Blabla</p>
        <p>Blabla Blabla Blabla Blabla</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="sameBook">
      <ion-card-header class="sameBookHeader">
        <h5>Livres du même auteur ...</h5> 
        <hr class="solidSameBook">
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
              <ion-col>
                <div>
                  <img src="../assets/images/imgLivreTest.png" />
                </div>
              </ion-col>
            <ion-col>
              <img src="../assets/images/imgLivreTest.png" />
            </ion-col>
            <ion-col>
              <img src="../assets/images/imgLivreTest.png" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
