ion-toolbar{
    --background: #454545;
  }


ion-card{
    margin-bottom: 5px;
    margin-top: 5px;
}
ion-card-content{
    padding-left: 10px;
    padding-right: 10px;
    }

ion-content{
    --background:#DBDBDB ;
    padding-left: 10px;
    padding-right: 10px;
    }
    
ion-button{
    --background:#C3C3C3 ;
    width: 200px;
    }

.container-image {
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 7px;
  }

.interCol{
    display: flex;
    justify-content:center;
    align-items: center;
    
  }

.logo{
    width: 15%;
    height: 15%;
  }

.shopping{
    width: 14%;
    height: 14%;
    position: relative;
    left:110px;
  }

hr.solid {
    border-top: 3px solid black;
    width: 90%;
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.page{
background-color:#DBDBDB ;
}


.vl {
    border-left: 1px solid #707070;
    height: 200px;
    margin-left: 10px;
    }

.Quanti{
    margin-top: 70px;
    }

.colDroite{
    padding-left: 10px;
    padding-right: 0px;
    }

.description h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}
hr.solidDescription  {
    border-top: 2px solid black;
    margin-left: 0px;
    width: 60%;
}
.sameBook h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}
hr.solidSameBook  {
    border-top: 2px solid black;
    margin-left: 0px;
    width: 100%;
}

.sameBook ion-card-header{
    padding-bottom: 0px;
}